html{
  max-width: 100%;
}
.linkImg{
  width: 1rem;
  filter: invert(100%);
}

h4 {
  color: #105bd8;
}

a {
  color: dimgray;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 7000;
}

label{
  margin-top: 0px;
}

abbr{
  border-bottom: 0px white none !important;
}

.search-dropdown{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: #212121;
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.3;
  text-decoration: none;
}
.search-dropdown:visited{
  color: #212121;
}
.search-dropdown:hover {
  background-color: #f1f1f1;
  color: #105bd8;
  text-decoration: none;
}

.search-dropdown:focus {
  outline-offset: 0;
  position: relative;
  z-index: 1;
}

.usa-logo-img{
  max-width: 40px;
  margin-top: 5px;
}
.usa-media_block-img{
  width: 12%;
}

.OISite{
  text-decoration: none; 
  color: #9bdaf1 !important;
}

.OISite:hover{
  text-decoration: underline;
}

@media screen and (min-width: 951px) {
  .search-dropdown:hover span {
    border-bottom: 0.4rem solid #105bd8;
    padding-bottom: 0.2rem;
  }

  .spacer{
    padding-top: 40px;
  }
  .linkImg{
    filter: invert(0%);
  }

}

/*NasaWDS class overrides*/

.usa-overlay{
  z-index: 6000 !important;
  overflow: hidden;
}
.usa-navbar{
  height: 7rem;
  padding-top: 1rem;
  box-shadow: 0px 4px 8px darkgrey !important;
}
.usa-logo-text{
  font-size: 2.3rem;
  padding-left: 2rem;
}
.usa-menu-btn{
  height: 5rem;
  font-size: 1.7rem;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 2.1rem;
}

*:focus,
.usa-focus{
  outline: 2px solid #aeb0b5;
}

[type=radio]:focus + label::before {
  outline: 2px solid #aeb0b5;
}

[type=checkbox]:focus + label::before {
  outline: 2px solid #aeb0b5;
}
a:focus {
  outline: 2px solid #aeb0b5;
}

.usa-nav-secondary{
  margin-top: -1.5rem;
}
@media screen and (min-width: 1080px){
  .usa-nav-secondary{
    right: calc(-670px + 65%);
  }
}

@media screen and (min-width: 951px) {
  .usa-navbar{
    padding-top: 0;
    height: 100px !important;
    z-index: 10000;
    box-shadow: 0px 0px 0px darkgrey !important;
  }
  .usa-logo-text{
    white-space:nowrap;
    font-size: 3rem !important;
  }
  .usa-nav-inner{
    position: absolute !important;
    height: 52px;
    background-color: white;
    max-width: 100% !important;
    width: 100%;
    border-top: solid 1px lightgrey;
    text-align: center;
    box-shadow: 0px 8px 8px darkgrey !important;
  }
  .usa-unstyled-list{
    padding: .85rem 1.5rem .85rem 1.8rem;
  }
  .usa-nav-primary>li{
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
  .usa-logo-img{
    margin-top: 0px;
  }
}
@media screen and (min-width:600px){
  .usa-media_block-img{
    width: 14%;
  }
}
.usa-accordion-content[aria-hidden = false] {
  display: block !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11000; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: absolute; /* Stay in place */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px 40px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #ff9800; /* Orange */
  color: black;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
