#vis-container {
    display: flex;
    margin: 3em 2em;
}

#svg {
    width:75%; 
    height: auto;
}

#legend {
    width: 25%; 
    height: auto; 
    overflow: scroll; 
    /*white-space: nowrap; */
    padding: 10px 10px; 
    margin-top: 4%; 
}
#legend #treemap-tile{
    white-space: nowrap;
}

@media only screen and (max-width: 1090px) {
    #vis-container {
        display: block;
    }

    #svg {
        width:100%;   
        margin: 0 auto;    
    }

    #legend {
       width: 100%;
       display: flex;
       padding-top: 0;
    }

    #legend div {
        width: 50%;
        padding-top: 10px;
        padding-right: 20%;

    }

    #legend svg {
        margin: 0 auto;
        width: 40%;
    }
}

@media only screen and (max-width: 950px) {
    #vis-container {
        margin-top: 0;
    }   
}

@media only screen and (max-width: 670px) {
    #legend {
       width: 100%;
       display: block;
    }     
    #legend div {
        width: 90%;
    }

    #legend svg {
        margin: 0 auto;
        width: 90%;
    }
}